{% extends 'index.html' %}

{% load static %}

{% block content %}
    <div class="person-cont">
        <h2>{{ director }}</h2>
        <br>
        <h3>Фильмы у нас в коллекции:</h3>
        <div class="row">
            {% for movie in director.movie_set.all %}
                <div class="col">
                    <a href="{{ movie.get_absolute_url }}" class="page-a">
                        <div class="card" style="
                                background-image: url('{% static movie.poster %}');
                                background-repeat: no-repeat"></div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
