{% extends 'index.html' %}

{% load static %}

{% block content %}
    <div class="person-cont row">
        <div class="col card" style="
                background-image: url('{% static movie.poster %}');
                background-repeat: no-repeat;
                max-width: 300px;
                max-height: 450px">
        </div>
        <div class="col p-3">
            <h2>"{{ movie.title}}"</h2>
            <h3>Режиссер: {{ movie.director }}</h3>
            <h4>Год: {{ movie.year }}</h4>
            <p>Описание: {{ movie.summary }}</p>
            <h3>Актеры:</h3>
            {% for actor in movie.actors.all %}
                <a class="person-a" href="{% url 'info_actor' pk=actor.id actor=actor %}">
                    {{ actor }}
                </a>
            {% endfor %}
            <br>
            {% if not user.username %}
                    <a href="{% url 'see_movie' movie.id movie.subscription.id 0 %}">
                        <button class="see-button">Смотреть</button>
                    </a>
                    {% else %}
                    <a href="{% url 'see_movie' movie.id movie.subscription.id user.id %}">
                        <button class="see-button">Смотреть</button>
                    </a>
            {% endif %}
        </div>
    </div>
{% endblock content %}
