{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block menu %}
    <nav class="navbar navbar-expand-lg menu-bar">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active menu-a" aria-current="page" href="{% url 'home' %}">Главная</a>
                    <li class="nav-item">
                        <a class="nav-link active menu-a" aria-current="page" href="{% url 'all_movies' %}">Фильмы</a>
                    <li class="nav-item">
                        <a class="nav-link active menu-a" aria-current="page" href="{% url 'all_actors' %}">Актеры</a>
                    <li class="nav-item">
                        <a class="nav-link active menu-a" aria-current="page" href="{% url 'all_directors' %}">
                            Режиссеры
                        </a>
                    <li class="nav-item">
                        <a class="nav-link active menu-a" aria-current="page" href="{% url 'subscription' %}">
                            Подписка
                        </a>
                    {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active menu-a" href="{% url 'login' %}">Log in</a>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active menu-a" href="{% url 'user_profile' %}">
                                {{ user.username }}
                            </a>
                        <li class="nav-item">
                            <a class="nav-link active menu-a" href="{% url 'logout' %}">Log out</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock menu %}

{% block content %}
{#    {% if username %}#}
        <h1>Привет, {{ username }}!</h1>
{#    {% endif %}#}
    <h2>На сайте {{ movies_count }} фильмов</h2>
    <h2>На сайте {{ actors_count }} актеров</h2>
    <h2>На сайте {{ free_count }} фильмов бесплатно</h2>
    {% if user.is_superuser %}
        <a href="{% url 'make_db' %}"><button class="admin-button">Загрузить фильмы в базу сайта</button></a>
    {% endif %}
{% endblock content %}
