{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block menu %}
    <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar menu_bar">
                <a class="nav-item navbar-link" href="{% url 'home' %}">Главная</a>
                <a class="nav-item navbar-link" href="{% url 'all_movies' %}">Фильмы</a>
                <a class="nav-item navbar-link" href="{% url 'all_actors' %}">Актеры</a>
                <a class="nav-item navbar-link" href="">Режиссеры</a>
                <a class="nav-item navbar-link" href="{% url 'subscription' %}">Подписка</a>
                {% if not user.username %}
                    <a class="nav-item navbar-link" href="{% url 'login' %}">Log in</a>
                {% else %}
                    <a class="nav-item navbar-link" href="{% url 'logout' %}">Log Out</a>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock menu %}

{% block content %}
{#    {% if username %}#}
        <h1>Hi, {{ username }}!</h1>
{#    {% endif %}#}
    <h2>На сайте {{ movies_count }} фильмов</h2>
    <h2>На сайте {{ actors_count }} актеров</h2>
    <h2>На сайте {{ free_count }} фильмов бесплатно</h2>
{% endblock content %}
