{% extends 'index.html' %}
{% load static %}

{% block content %}
    <h2>Подписка</h2>
    {% for subscription in subscriptions %}
        <h2 class="gold">{{ subscription.name }}</h2>
        <div class="white">
        {% for movie in subscription.movie_set.all %}
            <a href="{{ movie.get_absolute_url }}">
                <div class="card" style="
                        background-image: url('{% static movie.poster %}');
                        background-repeat: no-repeat">
                </div>
            </a>
        {% endfor %}
        </div>
    {% endfor %}

{% endblock %}